html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;

  svg {
    display: block;
    margin: 50px auto;
  }
  .graticule {

  }

  .land {
    fill: #222;
  }

  .boundary {
    fill: none;
    stroke: #fff;
    stroke-width: 0.5px;
  }

  .tooltip {
    position: absolute;
    border: 1px solid black;
    border-radius: 10px;
    width: 140px;
    background-color: #FFFFFF;
    padding: 5px;
    text-align: center;
    font-size: 12px;
  }
}
