$bg-color: #212121;
$text-color: #FFFFFF;
$control-color: #0288D1;
$control-border-color: #303F9F;


body {
  background-color: $bg-color;
  color: $text-color;
  #app {
    .toolbar {
      display: flex;
      margin: 12px auto;
      align-items: stretch;

      width: 500px;
      height: 45px;

      div {
        margin: 10px;
        font-size: 16px;
      }
    }

    .grid {
      border-spacing: 0px;
      width: 500px;
      height: 500px;
      background-color: white;
      margin: 0 auto;
      cursor: pointer;

      td {
        width: 100% / 20;
        height: 100% / 20;
        background-color: black;
      }

      .player {
        background-color: blue;
      }

      .boss {
        background-color: pink;
      }

      .enemy {
        background-color: green;
      }

      .weapon {
        background-color: yellow;
      }

      .heal {
        background-color: red;
      }

      .wall {
        background-color: orange;
      }

      .floor {
        background-color: white;
      }
    }
  }
}
