@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  background-color: #333333;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

ul, li {
  padding: 0;
  margin: 0;
}

.active {
  opacity: 0.5 !important;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.hide {
  display: none;
}

.simon {
  width: 300px;
  height: 300px;
  float: left;
  margin: 15px;
}

.menu {
  float: right;
}

.tile {
	opacity: 0.5;
	-webkit-transition: opacity 250ms ease;
	-moz-transition: opacity 250ms ease;
	-ms-transition: opacity 250ms ease;
	-o-transition: opacity 250ms ease;
	transition: opacity 250ms ease;
}

.tile.lit {
	opacity: 1;
}

.red, .blue, .yellow, .green {
	height: 300px;
	width: 300px;
	border-radius: 50%;
	position: absolute;
}

.tile:hover {
  cursor: pointer;
}

.red {
	background: #F44336;
	clip: rect(0px, 300px, 150px, 150px);
}

.blue {
	background: #2196F3;
	clip: rect(0px, 150px, 150px, 0px);
}

.yellow {
	background: #FFEB3B;
	clip: rect(150px, 150px, 300px, 0px);
}

.green {
	background: #4CAF50;
	clip: rect(150px, 300px, 300px, 150px);
}

.on {
  border-bottom: 5px solid orange;
}
